/*HOME*/

/* **Home Page - L'Amministrazione** */

div.contHpGruppoRight div.titolo{height:auto !important; height:60px; min-height:60px}

div.ContBoxCurva{margin:0 10px; padding:10px 0}
div.ContBoxCurva div.TopTitolo{height:25px; margin:0px; padding-left:20px; background:#F5F4F6 url('/images/bg_box_curva1.gif') top right no-repeat}
div.ContBoxCurva div.TopTitolo2{height:29px; margin:0px; padding-left:20px; background:#F5F4F6 url('/images/bg_box_curva1.gif') top right no-repeat}
div.ContBoxCurva div.TopTitolo3{height:auto !important; min-height:14px; height:14px; margin:0px; padding:10px 0 0 12px; background:#F5F4F6}
div.ContBoxCurva div.BotImgTesto{padding:6px 12px 10px 12px; margin:0; background:#F5F4F6; height:auto !important; height:62px; min-height:62px}
div.ContBoxCurva div.BotImgTesto2{margin:0; background:#F5F4F6; height:auto !important; height:116px; min-height:120px;} /*Add Fercredit*/
div.ContBoxCurva div.BotImgTesto2 div.contInner{height:auto !important; min-height:14px; height:14px; margin:0px; padding:10px 0 6px 12px;} /*Add Fercredit*/
div.ContBoxCurva div.TopTitolo .titoloredboldmed a,
div.ContBoxCurva div.TopTitolo3 .titoloredboldmed a {color:#0a84cd}

/*Box LabelVerde -  */
div.ContBoxLabelVerde{margin:0; padding:10px; padding-top:5px; background:url('/images/bg_rb_tl.gif') top left no-repeat}

/*Box LabelRosso - */
div.ContBoxLabelRosso{margin:0; padding:10px; padding-top:5px; background:url('/images/bg_rb_tl.gif') top left no-repeat}

/*Box Icona - */
div.cbox3IcoDx div.titolo{height:auto !important; height:60px; min-height:60px}
div.cbox3IcoDx div.titolo h4{font-size:1.4em; padding:14px .7em 0 0;  margin:0}

/*Box Label Area Riservata -*/
div.ContBoxLabelAR{margin:0; padding:10px; padding-top:5px; background:url('/images/bg_rb_tl.gif') top left no-repeat}

/*box COL news*/
div.ContBoxCurva3{margin:0 6px; padding:6px 0}

/* **Home Page - COL** */
div.contentHpR1Left div.rbtopl,
div.contentHpR1Right div.rbtopl{color:#FFF;	height:auto !important; height:25px; min-height:25px; background:#006261 url('/images/bg_rb_tl.gif') top left no-repeat}
div.contentHpR2Left div.rbtopl,
div.contentHpR2Right div.rbtopl{height:auto !important; height:133px; min-height:133px; background:url('/images/bg_rb_tl.gif') top left no-repeat}
div.contentHpR2Right div.rbtopr{height:auto !important;	height:133px; min-height:133px; background:url('/images/bg_rb_tr.gif') top right no-repeat}
div.contentHpR2 div.txt{padding:1em .5em .5em 1em; font-size:1.1em; color:#FFF}
div.contentHpR2 div.txt h3{font-size:1.2em; padding:0; margin:0}
div.contentHpR2 div.txt p{ padding:0; margin:0}
div.contentHpR2 div.txt a{color:#FFF}
div.contentHpR2 div.txt a:hover{color:#FFF}
#headerHPFlash div.headerBottom{padding:0; margin:0; height:auto !important; min-height:122px; height:122px}
#headerHPFlash div.headerBottomLeft{padding:0; margin:0 0 0 26.8%; height:122px; background:url('/images/bg_header_dx.gif') bottom right repeat-x}
#headerHPFlash div.headerBottomLeftIn {padding:0; margin:0; height:122px; background:url('/images/bg_header_Flash.jpg') bottom left no-repeat}
#headerHPFlash div.headerBottomLeftIn div.r1{height:60px; text-align:right; padding:0; margin:0}
#headerHPFlash div.headerBottomLeftIn div.r2{padding:6px 0 0 0; height:auto !important; height: 42px; min-height:42px; color:#FFF; font-weight:bold; font-size:1.5em; text-align:center}
#headerHPFlash div.headerBottomLeftIn div.r2 a,
#headerHPFlash div.headerBottomLeftIn div.r2 a:hover{color:#FFF; text-decoration:none}
#headerHPFlash div.headerBottomLeftIn div.r1 img {border:none; margin:0; vertical-align:bottom}
#headerHPFlash div.headerBottomLeftIn div.r2 span {background:#0a84cd;}

/*Box Flash HP-COL*/
div.boxFlash div.top{width:7px; float:left}

/*Angoli Bianchi*/
div.rbtopl{background:url('/images/bg_rb_tl.gif') top left no-repeat}
div.rbtopr{background:url('/images/bg_rb_tr.gif') top right no-repeat}

/* **Home Page - COLNews** */
#content div.COLNewsLeft{float:left; width:18%; margin:15px 0 10px 0; padding:0; position:relative; left:0}
#content div.COLNewsLeftInt{margin-right:6px; padding:0}
#content div.COLNewsRight{margin:15px 0 0 0; padding:0 0 10px 0; width:80%; float:left; position:relative;	left:0}
#content div.COLNewsRight div.COLNewsLeftCol{width:60%; float:left; margin:0; padding:0}
#content div.COLNewsRight div.COLNewsLeftColSx{float:left; width:52%}
#content div.COLNewsRight div.COLNewsLeftColDx{margin:0 0 0 53%}
#content div.COLNewsRight div.COLNewsRightCol{margin:0 0 0 60%; padding:0 0 0 6px}

/*Box spalla sinistra - HP COLNews*/
div.ContBoxRedTitle{padding:0; margin:0}
div.ContBoxRedTitle img{border:none}
div.ContBoxRedTitle div.BoxRedTitleTop{background:#0a84cd top right no-repeat}
div.ContBoxRedTitle div.BoxRedTitleTop div.titolo{height:auto !important; height:25px; min-height:25px}
div.ContBoxRedTitle div.BoxRedTitleTop div.titolo h3{color:#FFF; font-size:1.3em; font-weight:bold; padding:6px 0 0 8px; margin:0}
div.ContBoxRedTitle div.BoxRedTitleTop div.titolo h3 a{color:#FFF;}
div.ContBoxRedTitle div.BoxRedTitleBot{background-color:#E9E7EA; padding:0 0 6px 0; margin:0}
div.ContBoxRedTitle div.BoxRedTitleBot div.txt{padding:10px 10px 4px 10px; overflow:hidden!important;}
div.ContBoxRedTitle div.BoxRedTitleBot div.txt h4{color:#0a84cd; padding:0; margin:0; font-size:1.1em;}
div.ContBoxRedTitle div.BoxRedTitleBot div.txt a.arrowLink{color:#0a84cd; font-weight: bold; padding-left:15px; background:url('/images/freccia_puntatore.gif') 2px left no-repeat}
html>/**/body div.ContBoxRedTitle div.BoxRedTitleBot div.txt a.arrowLink{color:#0a84cd; background:url('/images/freccia_puntatore.gif') left center no-repeat} /* FireFox*/
div.ContBoxRedTitle div.BoxRedTitleBot div.txt img{border:1px solid #C5C5C5; padding:1px; margin:.3em 0 .1em 0;}
div.ContBoxRedTitle div.BoxRedTitleBot div.txt img.alignL{float:left; margin:0 6px 0 0}
div.ContBoxRedTitle div.BoxRedTitleBot div.txt span{color:#0a84cd; font-size:1.1em; font-weight:bold}
div.ContBoxRedTitle div.BoxRedTitleBot div.RightArrow{text-align:right; padding:0 10px 4px; 0}
div.ContBoxRedTitle div.BoxRedTitleBot div.RightArrowRed{padding:6px 10px 0 0;  font-weight:bold; height:25px; background:url('/images/bg_boxRightCOLNews_link.gif') top right repeat-x}
div.ContBoxRedTitle div.BoxRedTitleBot div.RightArrowRed p{padding-right:15px; text-align:right; background:url('/images/freccia_puntatore_red.gif') center right no-repeat}
div.ContBoxRedTitle div.BoxRedTitleBot div.RightArrowRed p a{color:#0a84cd; display:block}
div.RowBot{border-bottom:1px solid #D7D7D7}

.BoxIntAR div.titolo{height:30px; background:url('/images/Icona_AR.gif') right center no-repeat}

/*BOX  HP COL*/
.BoxInfomob div.r2 ul{list-style-type:none; padding:5px 0 0 10px; margin:0; font-weight:bold; line-height:1.2em}
.BoxInfomob div.r2 a{color:#000}

.roundButtonGray div.roundCont p{line-height:1em; margin:0 12px 0 0; padding:14px 0 0 0; background:url('/images/freccia_puntatore.gif') bottom right no-repeat}
.roundButtonGray div.roundCont2 p{line-height:1em; margin:0 12px 0 0; padding:18px 0 0 0; background:url('/images/freccia_puntatore.gif') bottom right no-repeat}
.roundButtonGray div.roundCont3 div.Cont3{height:auto !important; height:38px; min-height:38px; background:url('/images/freccia_puntatore.gif') center right no-repeat}

.roundButtonGrayCOLNews div.roundCont p{line-height:1em; margin:0 12px 0 0; padding:5px 0 0 12px; background:url('/images/freccia_puntatore.gif') bottom right no-repeat}

.roundButtonCurve div.roundTR{background:url('/images/bg_rb_tl.gif') top left no-repeat}
.roundButtonCurve div.roundTL{background:url('/images/bg_rb_tr.gif') top right no-repeat}

.roundButtonCurve div.roundCont p{line-height:1em; margin:0 12px 0 0; padding:12px 0 0 12px; background:url('/images/freccia_puntatore.gif') bottom right no-repeat}

div#BoxNewsDown{background:#E6E5E7; padding:2px 12px 0 12px; margin:0; height:auto !important; height:20px;  min-height:20px}
div#BoxNewsUp{padding:6px 12px 10px 12px; margin:0; background:#F5F4F6; height:auto !important;  height:202px; min-height:202px}
div#BoxNewsUp2{padding:3px 12px; margin:0; background:#F5F4F6; height:auto !important;  height:70px; min-height:70px}
div#BoxNewsUp2 div.contBoxNews{margin:.5em 0; padding-bottom:5px}	
div#BoxNews{padding:6px 0; margin:0}
div#BoxNews p{color:#2370b8; font-weight:bold; padding:5px 0; margin:0; text-align:justify; line-height:1.1em}
div#BoxNews p a{font-weight:normal}
div#allNews{padding:0; margin:0}
div#allNews div.r2{float:right; padding:2px 0 0 8px; background:url('/images/arrowLink.gif') left center no-repeat}
div#allNews a{font-weight:bold; color:#0a84cd}

div.BoxNewsImgInt p{color:#0a84cd; font-weight:bold; padding:0px 1em 0px 0; margin:0; text-align:left; line-height:1em; background:url('/images/freccia_puntatore.gif') center right no-repeat}

/*Box News - HP COLNews*/
div.TopTitCOLNews{height:32px; margin:0px; padding-left:20px; background:#F5F4F6 url('/images/bg_box_curva2.gif') top right no-repeat}
div.TopTitCOLNews h4{margin-top:7px}
div.BoxCOLNewsUp{padding:6px 12px; margin:0; background:#F5F4F6; height:auto !important;  height:134px; min-height:134px}
div.BoxCOLNews{padding:6px 0; margin:0}
div.BoxCOLNews p{color:#0a84cd; font-weight:bold; padding:5px 0; margin:0; text-align:justify; line-height:1.1em}
div.BoxCOLNews p a{font-weight:normal}
div.BoxCOLNewsCenter{padding:6px 0}
div.COLNewsLeftCol div.ContBoxCurva a.arrowLink{color:#0a84cd; font-weight: bold; padding-left:15px; background:url('/images/freccia_puntatore.gif') 2px left no-repeat}
html>/**/body div.COLNewsLeftCol div.ContBoxCurva a.arrowLink{color:#0a84cd; background:url('/images/freccia_puntatore.gif') left center no-repeat} /* FireFox*/

/*destra */
div.BoxCOLNewsCenterLeft div.titolo{padding:12px 8px 4px 8px}
div.BoxCOLNewsCenterLeft div.titolo img{border:1px solid #C5C5C5; padding:1px; margin:.3em 0 .1em 0;}
div.BoxCOLNewsCenterLeft div.testo{padding:6px 8px 2px 8px; background:#F5F4F6}

div.BoxCOLNewsCenterRight div.COLNewsImgInt {padding-right:12px}
html>/**/body div.BoxCOLNewsCenterRight div.COLNewsImgInt{overflow:hidden;}/* FireFox*/

/*sinistra */
div.BoxCOLNewsCenterSpSx div.titolo{padding:12px 8px 4px 8px}
div.BoxCOLNewsCenterSpSx div.titolo img{border:1px solid #C5C5C5; padding:1px; margin:.3em 0 .1em 0;}
div.BoxCOLNewsCenterSpSx div.testo{padding:6px 8px 2px 8px; background:#F5F4F6}

div.BoxCOLNewsCenterDx div.COLNewsImgInt{height:auto !important; height:40px; min-height:40px; border-top:1px solid #E1E1E1; padding:6px 0 4px 7px;}
html>/**/body div.BoxCOLNewsCenterDx div.COLNewRicercasImgInt{overflow:hidden;}/* FireFox*/

div.BoxCOLNewsCenter2{padding:6px 12px}
div.BoxCOLNewsDown{padding:6px 12px}
div.COLNewsImgInt{height:auto !important; height:40px; min-height:40px; border-top:1px solid #E1E1E1; padding:6px 0 4px 0}
div.firstNews{border-top:0px}

div.contHpWPILeftBot div.ContBotLeft div.ContBotLeftInt div.ContBoxCurva{height:auto !important; height:102px; min-height:102pRicercax}

.currentPage {
	font-size: 20px !important;
	}

