/* IE 6*/

#HPheader div.headerBottomRightIn{overflow:visible;}
#HPheader div.headerBottomRightIn div.bannerLeft{padding:74px 0 0 100px; margin:0;}
#HPheader div.headerBottomRightIn div.bannerRight p{height:72px;}
#HPheader div.headerBottomRightIn div.bannerRight a{width:98%;}

#HPheader div.headerBottomRightIn div.R2 p{padding:0.5% 0;}
div.contentHpR1Right{margin-left:50.3%;}
div.contentHpR1Left div.rbtopr h3,
div.contentHpR1Right div.rbtopr h3{margin:4px 0 0 14px; padding:0;}
div.contentHpR1IntTop,
div.contentHpR1IntBot,
div.Row1sxInt{overflow:visible;}

.listaPuntoNero {list-style:square url(../images/propostaA/puntoNeroIE.gif) inside; text-indent:-.5em;}

#navigation ul#menu1,
#navigation ul#menu1 li{overflow:visible;}

#content{overflow:visible; height:0;}
#content div.contentLeft {display:inline;}
#contentBox{height:0;}

#content div.contentLeft ul#menu2 a.primoAttivo{padding:7px 0 6px 0;}
#content div.contentLeft ul#menu2 a.Attivo{padding:13px 0 4px 0;}
#content div.contentLeft ul#menu3{margin:0;}

/* importanti*/
#content div.contentLeft li#menu2,
#content div.contentLeft li#menu3{display:inline;}
#content div.contentLeft ul#menu2 a,
#content div.contentLeft ul#menu3 a{height:0;}

#menuNav{overflow:visible;}

div.ContParagForm{height:100px;}

div.ContParag,
div.RightColContentLinks,
div.RightColTitoliSez h4,
div.RightColImmBox div.staccoTxt,
div.RightColContParag,
div.ContAncore,
div.RigaSeparazione,
div.TornaSu,
div.titoloPag,
div.contcbox2{height:0;}/*Importante*/

div.RightColImmBox{overflow:visible;}/*Importante*/
/*div.RightColImmBox img{width:140px;}*//*forza la larghezza dell'immagine per la risoluzione 800x600*/

div.RightColTitoliSez{margin-left:2px; padding-left:3px;}/*Add margin-left BC.*/
div.RightColImgParag{margin-left:2px; padding-left:3px;}/*Add margin-left BC.*/
div.RightColContParag{padding-left:3px;}		/*Add padding-left BC.*/
div.RightColContParag div.FrecciaLnk{margin-left:3px;}

div.ArchivioImgLeft,
div.ArchivioImgRight{margin-bottom:15px;}

div.ArchivioImgLeft a,
div.ArchivioImgRight a,
div.ContImgParagWP a{background:url('../images/propostaA/freccia_puntatore.gif') 3px left no-repeat;}

.RigaSeparazione3{height:0; margin-right:4px;}

.BoxIntIconeLeft{margin-left:7px; padding-bottom:0;}
.BoxIntIconeRight{padding-bottom:0; margin-right:0;}

.BoxIntSocietImgDx div{padding-top:175px;}

div#cruscotto div.tab span.off{padding:10px;}
div#cruscotto div.tab span.off a{padding:5px 0;}

#cruscotto div.textRicercaAR{padding:3px 0}
#cruscotto input{text-indent:2px}
#cruscotto div.textRicercaAR span.lbl1{width:9%}
#cruscotto div.textRicercaAR span.lbl2{width:5%; padding-right:5px}
#cruscotto div.textRicercaAR span.lbl3{width:5%}
#cruscotto div.textRicercaAR span.lbl4{width:5%; padding-left:2px}
#cruscotto div.textRicercaAR span.lbl5{width:5px}

/*Add x cruscotto spalla dx*/
.cruscotto {width:170px; margin-left:auto; margin-right:auto; background-color:#ebebeb}
.cruscotto fieldset {position:static; background-color:#ebebeb}
.cruscotto .form-row label {display:block;float:none;width:auto;padding-left:0;text-align:left;}
.cruscotto .alternate {position:static; padding:5px}

#formGen .btnInviaCrusc{position:relative; top:2px;}

#AreaRiservata div{padding-bottom:2px;}

div.contentHpR1IntTop,

div.contentHpR2Right{margin-left:50.3%;}
div.contentHpR2Left1Dx{margin-left:50.2%;}
div.contentHpR2Left2{margin-left:66.8%;}
div.contentHpR2RightDx{margin-left:64%;}
div.contentHpR2RightDxV2{margin-left:36%;}

div.BoxIntDxBannerDx{height:1px;}
div.boxBanner{height:1px;}

div.contentHpR1IntTopRight div.BoxIntAR div.BoxIntbotl,
div.contentHpR1IntTopRight div.BoxIntAR div.BoxIntbotr, 
div.contentHpR1IntTopRight div.BoxIntBeG div.BoxIntbotl,
div.contentHpR1IntTopRight div.BoxIntBeG div.BoxIntbotr,
div.contentHpR1IntTopRight div.BoxIntxFor div.BoxIntbotl, 
div.contentHpR1IntTopRight div.BoxIntxFor div.BoxIntbotr,
div.contentHpR1IntTopLeft div.BoxSociet div.BoxIntbotl, 
div.contentHpR1IntTopLeft div.BoxSociet div.BoxIntbotr{margin-top:-6px;}

/*div.contentHpR1IntTopRight div.BoxIntSC div.BoxIntbotl, 
div.contentHpR1IntTopRight div.BoxIntSC div.BoxIntbotr{margin-top:-1px;}*/
div.contentHpR1IntTopRight div.BoxIntSC div.BoxIntbotl, 
div.contentHpR1IntTopRight div.BoxIntSC div.BoxIntbotr{margin-top:-6px;}

.BoxIntBeG div.btEntra img{padding:0 8px 0px 0;}

div.contentHpR1IntBot div.BoxIntbotl, 
div.contentHpR1IntBot div.BoxIntbotr{margin-top:-4px;}

.BoxIntSocietImgDx div{padding:150px 0 1px 0;}

div.contHpGruppoRight div.Box2Left {width:48%; }
div.contHpGruppoRight div.Box2Right{width:48%; margin-left:0; height:0; float:right;}

.roundButtonGray div.roundCont p{ padding:0; margin:14px 12px 0 0;}
.roundButtonCurve{width:32.6%;}

div.ContBoxLabelAR div.BotForm div.R1{margin-top:-8px;}

#content div.FSNewsRight div.FSNewsRightCol{height:1px;}/*Importante!*/
div.boxFotoSet div.boxFotoSetTop{padding:0; margin:0;}
div.boxFotoSet div.boxFotoSetTop img{margin:4px 0 0 0; }

div.cboxIntTab{padding:24px 12px;}

#footer,
#footer div.bgRight{height:114px;}
#footerTre,
#footerTre div.bgRight{height:132px;}
#footerFS,
#footerFS div.bgRight{height:132px;}

div#mooqueeStart{margin:0;padding:0;}
/*div.mooqueeStart{margin:0 0 0 5%; padding:0;}*/

#formMetropark div.Txt div.TxtRight2 input{width:9.6%}
#formMetropark div.Txt div.TxtLeft3{padding-left:3px}
div.titoloPag{border:1px solid #F7F7F9; border-top:0; border-bottom:0}

div.ricercaMpk{padding:0px 2px 0px 4px; height:1px}
div.ricercaMpk p{padding:3px 0 0 0; margin:0;  height:1px}
div.ricercaMpk label{margin:6px 4px 0 1%}
div.ricercaMpk input.campoR{padding:4px 3px 0 12px; margin-top:4px}
div.ricercaMpk .buttonCerca{margin:4px 0 0 3px}

/*Versione Sinistra 3 box*/
div.box3Left1{width:32%}
div.box3Left2{width:32%; margin-left:3px;}
div.box3Left3{margin-left:64%}

/*Home Page WebInfoPoint*/
div.contHpWPILeftBot div.ContBotRight{margin:0 0 0 42%}
div.contHpWPILeftBot div.ContBotLeft{width:41%}
